* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf1c7;
}
.container {
  width: 90%;
  margin: 0 auto; /* Center the DIV horizontally */
}

.hero {
  background: url("./images/NubbleLighthouse.jpeg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-text {
  font-size: 48px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7fff7;
}

.about {
  padding: 3rem 4rem;
}

.about-container {
  overflow: hidden;
  background-color: #fe8019;
  padding: 5rem;
  width: 50em;
  margin: auto;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.projects {
  padding: 3rem 4rem;
  background-color: #98bb26;
}

.projects-container {
  display: flex;
  flex-direction: column;
  text-align: center;;
  align-items: center;
}

.project-box {
  border-radius: 25px;
  width: 30em;
  padding: 30px;
  text-align: center;
  background-color: #282828;
  color: #eddbb2
}

.project-box a {
    color: #cc241d
}

.footer {
  padding: 2rem 2.5rem;
  background-color: #458588;
}

.footer-contacts-links {
  padding-top: 0.5rem;
}

#link-instagram {
  background: url(images/black-instagram.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  display: inline-block;
}

#link-snapchat {
  background: url(images/black-snapchat.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  display: inline-block;
}

@media (max-width: 900px) {
  .about {
    padding: 0;
  }

  .about-container {
    width: auto;
  }
  .projects {
    padding: 10px;
    padding-top: 1em;
  }

  .projects-container {
    width: auto;
  }

  .project-box {
    width: auto;
  }

  iframe {
    width: auto;
  }
}